body {
  margin: 0;
  font-family: 'Tilt Neon', cursive;
  background-color: #fff5d7;
  color: rgb(88, 56, 12);
}

a {
  text-decoration: none;
  color: #001f3f;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
